
body {
	background-color: rgba(204,204,204,.8);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Verdana, sans-serif;
	color: black;
	margin: 0;
	font-family:  'Times New Roman', sans-serif;
	z-index: 1;
	
}
p, .desc{
	font-size: 14px;
	margin: 16px auto;
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 100%;
}
ul{
	background-color: #CCC;
}
li{
	display: inline;
	line-height: 1.3em;
	background-color: rgb(204,204,204);
	padding: 5px 5px;
	text-align: center;
	

}

div.box{
	border: solid;
	border-width: thin;
	width: 100%;
	padding : 100px;
	background-image: url('Desert.jpg');
	background-position: bottom;
	color: white;
	text-align: center;
	
}
p.judul{
	font-size: 30px;
}
.judul, .copyright{
	text-align: center;
}
div.navi{
	background-color: rgb(204, 204, 204);
	padding: 5px;
	width: 20%;
	height: 400px;
	font-size: 18px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div.kanan{
	float: left;
	height: 400px;
	position: static;
	background: transparent;
	
}
div.bawah{
	border-top: 1px solid white;
	background-color: rgba(204, 204, 204, .0);
}
iframe{
	border: none;
}
img.logo{
	height: 100px;
	width: 140px;
	float: left;
}

a:link{
	color: rgb(0, 0, 153);
	text-decoration: none;
}
a:visited{
	color: rgb(153, 0, 153)
	text-decoration: none;
}
a:active{
	color: rgb(255, 0, 102);
	text-decoration: none;
}
a:hover{
	color: rgb(0, 96, 255);
	text-decoration: underline;
} 