body {
	/*text-align: center;*/
	background: url("//i57.tinypic.com/2uhsu1v.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font: normal 13px 'Lucida Sans', sans-serif;
}
a {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
p {
	margin-left: 20px;
}
hr {
	margin: 10px 10px 0 10px;
}
nav {
	display: block;
}
.nav {
	font-weight: bold;
	background-color: #333;
	height: 35px;
	position: relative;
	z-index: 1;
}
.nav ul, .navinti ul {
	cursor: pointer
}
.navinti {
	height: 35px;
	margin: 0;
	padding: 0;
	float: left;
}
.navinti ul {
	position: absolute;
	z-index: 10;
	padding: 0;
	list-style: none;
	width: 170px;
	background-color: #F8F8F8;
	-moz-box-shadow: 0 0 5px #494949;
	-webkit-box-shadow: 0 0 5px #494949;
	box-shadow: 0 0 5px #494949;
	display: none;
	}
.navinti li {
	list-style: none;
	display: inline-block;
	zoom: 1;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
}
.navinti li a {
	display: block;
	line-height: 35px;
	text-decoration: none;
	color: white;
	padding: 0 15px;
}
.main {
	background: rgba(255,255,255,.4);
	width: 100%;
	height: 410px;
	overflow: auto;
	padding: 0 0 0 0;
}
.head {
	font: normal 12px 'Lucida Sans', sans-serif;
	text-align: center;
	color: #fff
	background: #333;
	padding-top: 5px;
	font-weight: bold;
	margin-top: 10px;
}